{% extends "base.html" %}

{% block content %}
<h1>Signup for a new account.</h1>
<br>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Username:</label></td>
            {% if uerror %}
            <td><input id="username" class="ierror" type="text" name="username" value="{{username}}" /></td>
            {% else %}
            <td><input id="username" type="text" name="username" value="{{username}}" /></td>
            {% endif %}
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            {% if perror %}
            <td><input id="password" class="ierror" type="password" name="password" value="" /></td>
            {% else %}
            <td><input id="password" type="password" name="password" value="" /></td>
            {% endif %}
        </tr>
        <tr>
            <td><label for="verify">Verify Password:</label></td>
            {% if merror %}
            <td><input id="verify" class="ierror" type="password" name="verify" value="" /></td>
            {% else %}
            <td><input id="verify" type="password" name="verify" value="" /></td>
            {% endif %}
        </tr>
    </table>
    <br>
    <input type="submit" value="submit"/>
</form>
{% endblock %}